body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  padding-left: 10%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
